.function-container {
  display: flex;
}

.function-left-side {
  display: flex;
  flex-direction: column;
}

.function-right-side {
  display: flex;
  flex-direction: column;
}

.function-body {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.control-buttons {
  display: flex;
  margin-left: 50px;
}
