.css-demo-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  position: relative;
  outline: solid 1px red;
}

.css-demo-container::-webkit-scrollbar {
  display: none;
}

.css-demo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.css-header-text {
  color: black;
  font-weight: 600;
}

.css-demo-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.css-demo-icon:hover {
  transform: scale(1.1);
}

.css-demo-body {
  display: flex;
  max-height: 800px;
  background-color: white;
}

.css-demo-body-left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.css-demo-body-right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.css-demo-gallery-container {
  columns: 3;
  margin: 10px;
  gap: 20px;
  padding: 10px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: solid 1px black;
  border-radius: 20px;
}

.css-demo-gallery-container::-webkit-scrollbar {
  display: none;
}

.css-demo-img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.css-demo-footer {
  display: flex;
  background-color: rgb(32, 30, 30);
}

.css-demo-footer-img {
  width: 10%;
}

/* ---------- MOBILE SECTION ----------- */
@media only screen and (max-width: 600px) {
}
