:root {
  --black: #222831;
  --dark-gray: #393e46;
  --orange: #fd7014;
  --white: #eeeeee;
}

.algorithm-container {
  display: flex;
  color: var(--white);
  margin-left: 140px;
  margin-bottom: 80px;
  width: 90%;
  outline: solid 1px white;
}

.algorithms-left-side {
  display: flex;
  width: 50%;
}

.algorithms-right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.control-buttons {
  padding: 10px;
}

.variable-text {
  color: var(--orange);
}
